/*CSS：★洮羱芝闇★*/
*{
    padding: 0;
    margin: 0;
}
body {
    background: #F2F2F2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
/*文本部分*/
.bod{
    width: 100%;
    float: left;
}
.bod h1{
    text-align: center;
    margin-top: 10px;
}